# Dependencies
node_modules/

# Production
build/
dist/
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env*
!.env.example

# OS Files
.DS_Store
Thumbs.db
Desktop.ini

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sqm
*.swp

# Temp Files
*.temp
*.tmp
